<!doctype html>
<html>

<head>
  <base href="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Travel ChatBot</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />

  <link rel="stylesheet" href="/css/style.css" />

  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">

  <meta name="description" content="A conversational AI system that listens, learns, and challenges">

  <meta property="og:title" content="ChatGPT">

  <meta property="og:image" content="https://openai.com/content/images/2022/11/ChatGPT.jpg">

  <meta property="og:description" content="A conversational AI system that listens, learns, and challenges">

  <meta property="og:url" content="https://chat.acy.dev">

  <link rel="stylesheet" href="/assets/css/style.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">

  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">

  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">

  <link rel="manifest" href="/assets/img/site.webmanifest">

  <script src="/assets/js/icons.js"></script>

  <script src="/assets/js/chat.js" defer></script>

  <script src="https://cdn.jsdelivr.net/npm/markdown-it@latest/dist/markdown-it.min.js"></script>

  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/styles/base16/dracula.min.css">

  <script>
    const user_image        = `<img src="/assets/img/user.png" alt="User Avatar">`;
              const gpt_image         = `<img src="/assets/img/gpt.png" alt="GPT Avatar">`;
  </script>

  <style>
    .hljs {
      color: #e9e9f4;
      background: #28293629;
      border-radius: var(--border-radius-1);
      border: 1px solid var(--blur-border);
      font-size: 15px;
    }

    #message-input {
      margin-right: 30px;
      height: 80px;
    }

    #message-input::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    #message-input::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    #message-input::-webkit-scrollbar-thumb {
      background: #c7a2ff;
    }

    /* Handle on hover */
    #message-input::-webkit-scrollbar-thumb:hover {
      background: #8b3dff;
    }
  </style>

  <script src="/assets/js/highlight.min.js"></script>

  <script src="/assets/js/highlightjs-copy.min.js"></script>

  <script>
    window.conversation_id = `{{chat_id}}`
  </script>

</head>

<body is="dmx-app" id="main">
  <div is="dmx-view" id="content">
    <%- await include(content, locals); %>
  </div>
  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>